<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bamboo.module_test2">

    <queries>
        <package android:name="jp.naver.line.android" />
        <package android:name="org.telegram.messenger" />
        <package android:name="com.whatsapp" />
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:name=".Test2Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoteProject">
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".test1_fitSystemWindows.Test1Activity"
            android:exported="true">

        </activity>
        <activity
            android:name=".test4_kotlin_check.KtCheckActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".test4_kotlin_check.TestActivity"
            android:exported="true"></activity>
        <activity android:name=".test7_kotlin.EditActivity"
            android:exported="true">

        </activity>
        <activity android:name=".test8_try_catch.TryCatchActivity"
            android:exported="true">

        </activity>
        <activity android:name=".test9_dialog.DialogActivity"
            android:exported="true">

        </activity>
        <activity android:name=".test10_debounce.DebounceActivity"
            android:exported="true">

        </activity>
        <activity android:name=".test11_multilanguage.MultiLanguageActivity"
            android:exported="true">

        </activity>
        <activity android:name=".test12_enum.EnumDemoActivity"
            android:exported="true">

        </activity>
        <activity android:name=".test14_thread.Test14ThreadActivity"
            android:exported="true">

        </activity>
        <activity android:name=".test15_fragment.Test15Activity"
            android:exported="true">

        </activity>
        <activity android:name=".test16_viewpager2.Test16Activity"
            android:exported="true">

        </activity>
        <activity android:name=".test17_jump2app.Test17Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.bamboo.app.channel"
            android:value="@string/app_channel" />
    </application>

</manifest>