<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sesame.noteproject">

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".CoordinatorLayoutActivity"></activity>
        <activity android:name=".test.EventTestActivity" />
        <activity android:name=".rv.RVDemoActivity"></activity>
        <activity android:name=".merge.MergeActivity" />
        <activity
            android:name=".test_company.TitleActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        </activity>
        <activity android:name=".MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".toolbar.ToolbarActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        </activity>
        <activity android:name=".nulltest.NullTestActivity">

        </activity>
        <activity android:name=".arouter.ARouterActivity">

        </activity>
        <activity android:name=".deeplink.DeeplinkActivity" />
        <activity
            android:name=".deeplink.simple_use.GoalActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="share"
                    android:scheme="cc" />
            </intent-filter>
        </activity>
        <activity android:name=".anim.AnimActivity" />
        <activity android:name=".refresh.RefreshActivity" />
        <activity android:name=".refresh.views.ItemActivity" />
    </application>

</manifest>