<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sesame.noteproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="${logo}"
        android:label="${appName}"
        android:roundIcon="${logo}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CumstomViewActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginGoogleActivity"
            android:exported="false" />
        <activity android:name=".material_design.MaterialDesignActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".CoordinatorLayoutActivity" />
        <activity android:name=".test.EventTestActivity" />
        <activity android:name=".rv.RVDemoActivity" />
        <activity android:name=".merge.MergeActivity" />
        <activity
            android:name=".test_company.TitleActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".toolbar.ToolbarActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".nulltest.NullTestActivity" />
        <activity android:name=".arouter.ARouterActivity" />
        <activity android:name=".deeplink.DeeplinkActivity" />
        <activity
            android:name=".deeplink.simple_use.GoalActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="share"
                    android:scheme="cc" />
            </intent-filter>
        </activity>
        <activity android:name=".anim.AnimActivity" />
        <activity android:name=".refresh.RefreshActivity" />
        <activity android:name=".refresh.views.ItemActivity" />
        <activity android:name=".websocket.WebSocketActivity" />
        <activity android:name=".databinding.DatabindingActivity" />
        <activity android:name=".vm.VmActivity" />
        <activity android:name=".vm_livedata.TimerWithLiveDataActivity" />
        <activity android:name=".MenuRvActivity" />
        <activity android:name=".vm_livedata.TimerLiveDataActivity" />
        <activity android:name=".callphone.CallPhoneActivity" />
        <activity android:name=".viewbinding.ViewBindingStudyJavaActivity" />
        <activity android:name=".ModulesActivity" />
        <activity android:name=".flexbox.FlexboxActivity" />
        <activity android:name=".uri.UriActivity" />
        <activity android:name=".service.ServiceDemoActivity" />
        <activity android:name=".lazyfragment.LazyActivity" />
        <activity android:name=".ad_dialog.AdActivity" />
        <activity android:name=".custom_view.CustomViewActivity" />

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" />
        <service android:name=".service.MyIntentService2" />
        <service
            android:name=".service.LiteService"
            android:enabled="true"
            android:exported="false"
            android:process=":lite" />
    </application>

</manifest>