<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bamboo.nano">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoteProject">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".message.NoticeActivity" />
        <activity android:name=".news.NewsActivity" />
        <activity android:name=".viewpager_hq.HqChooseActivity" />
        <activity android:name=".search.SearchActivity" />
        <activity android:name=".search_copy.Search2Activity" />
        <activity android:name=".user.UserActivity" />
        <activity android:name=".popup.PopupActivity" />
        <activity android:name="com.bamboo.newrise.NewriseActivity" />
        <activity android:name="com.bamboo.newrise.favorite.CollectActivity" />
        <activity android:name="com.bamboo.newrise.home.HomeActivity" />
    </application>

</manifest>