<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sesame.module_kotlin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".MenuActivity"></activity>
        <activity android:name=".coroutine.CoroutineActivity" />
        <activity android:name=".learning.KotlinStandardFunctionActivity" />
        <activity android:name=".jetpack.lifecycle.LifecycleActivity" />
        <activity android:name=".jetpack.viewmodel.VmDemoActivity" />
        <activity android:name="com.sesame.module_kotlin.jetpack.viewmodel.sharedata.SeekBarActivity" />
        <activity android:name=".jetpack.databinding.DataBindingDemoActivity" />
        <activity android:name=".jetpack.navigation.NavigationActivity">
            <nav-graph android:value="@navigation/nav_graph" />
        </activity>
        <activity android:name=".learning.KotlinFunctionActivity" />
        <activity android:name=".jetpack.room.RoomDemoActivity" />
        <activity android:name=".module.LoginActivity" />

        <service android:name=".jetpack.lifecycle.service.MyService" />
        <activity android:name=".flow.FlowDemoActivity" />
        <activity android:name=".coroutine.CoroutineDemoActivity" />
    </application>

</manifest>